body {
    background:#18B2A7;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:30%;
    padding:10px;
    margin:10px;
    margin-bottom:30px;
    background:#CCF03B;
    border-radius:5px;
    box-shadow: 5px 8px #49323E;
}

.assignment img {
    width:200px;
    border: 2px solid #F64455;
    margin-right: 20px;
    border-radius:5px;
    display:block;
    margin:auto;
}

h1 {
    color:#49323E;
    text-align: center;
}

a {
    text-decoration:none;
    color:#F57604;
}

.assignment a:hover {
    color:#49323E;
}